version: '3.8'

services:
  cribl-yaml2dot:
    build: .
    ports:
      - "8080:5000"
    environment:
      - CRIBL_BASE_URL=${CRIBL_BASE_URL:-http://host.docker.internal:9000}
      - CRIBL_AUTH_TOKEN=${CRIBL_AUTH_TOKEN}
      - CRIBL_USERNAME=${CRIBL_USERNAME}
      - CRIBL_PASSWORD=${CRIBL_PASSWORD}
      - FLASK_DEBUG=${FLASK_DEBUG:-False}
    env_file:
      - .env
    # You can add a restart policy if you want the container to restart automatically
    # restart: unless-stopped
