version: '3.8'

services:
  cribl-yaml2dot:
    build: .
    ports:
      - "8080:5000"
    environment:
      # Set the following environment variables to point to your Cribl instance.
      # If running on the Cribl leader node, the default base URL should be correct.
      - CRIBL_BASE_URL=http://localhost:9000
      # You may need to provide an auth token depending on your Cribl configuration.
      - CRIBL_AUTH_TOKEN=
    # You can add a restart policy if you want the container to restart automatically
    # restart: unless-stopped
